<div class="bg-blue-300">Hello World</div>
<div class="p-4">
  <button class="btn btn-primary">DaisyUI Primary Button</button>
  <button class="btn btn-secondary">DaisyUI Secondary Button</button>
  <button class="btn btn-accent">DaisyUI Accent Button</button>
</div>